# test sqlalchemy with sqlite3ã€€(https://it-engineer-lab.com/archives/1183)

In [1]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm.exc import NoResultFound

# create databse engine

In [2]:
engine = create_engine('sqlite:///sample_1.db')
engine = create_engine('sqlite:///sample_1.db', echo=False)  # echo=True,False

# or you could use your memory
#engine = create_engine('sqlite:///:memory')

# create model and table

In [3]:
Base = declarative_base()

class Student(Base):
    """
    create Student class
    must inherite Base
    """
    
    __tablename__ = "students"
    
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    score = Column(Integer)
    
    def __repr__(self):
        return "<Student(id='%s', name='%s', score='%s')>" % (self.id, self.name, self.score)

In [4]:
Base.metadata.create_all(engine)

In [5]:
Student()

# create session

In [6]:
Session = sessionmaker(bind=engine)
session = Session()

# insert data

In [7]:
# single data
session.add(Student(id=1, name='Suzuki', score=70))
session.commit()

In [8]:
# insert multiple data at once
session.add_all([Student(id=5, name='Yamada', score=73), Student(id=2, name='Tanaka', score=46), 
                 Student(id=3, name='Suzuki', score=87),])

In [9]:
session.commit()

# try inserting with same id

In [10]:
### this will give you error
#session.add(Student(id=1, name='Suzuki', score=7))
#session.commit()

In [11]:
#session.rollback()

# select data

In [12]:
result = session.query(Student)
for student in result:
    print(student.name, student.score)

Suzuki 70
Tanaka 46
Suzuki 87
Yamada 73

# select by name

In [13]:
student = session.query(Student).filter_by(name='Tanaka').one()

In [14]:
print(student)

<Student(id='2', name='Tanaka', score='46')>

In [15]:
student = session.query(Student).filter_by(name='Suzuki').all()

In [16]:
student

[<Student(id='1', name='Suzuki', score='70')>,
 <Student(id='3', name='Suzuki', score='87')>]

In [17]:
try:
    student = session.query(Student).filter_by(name='Yamada-san').one()
    print(student)
except NoResultFound as ex:
    print(ex)

No row was found for one()

# select by id

In [18]:
student = session.query(Student).get(1)

In [19]:
print(student)

<Student(id='1', name='Suzuki', score='70')>

In [20]:
student = session.query(Student).get(100)

In [21]:
print(student)

None

In [22]:
try:
    student = session.query(Student).get(1000)
    print(student)
except NoResultFound as ex:
    print(ex)

None

# sort by score

In [23]:
# sort by ascending order (descending order --> score.desc())
for student in session.query(Student).order_by(Student.score.asc()):
    print(student.id, student.name, student.score)

2 Tanaka 46
1 Suzuki 70
5 Yamada 73
3 Suzuki 87

# other filtering

In [24]:
for student in session.query(Student).filter(Student.name == "Yamada"):
    print(student.id, student.name, student.score)

5 Yamada 73

In [25]:
for student in session.query(Student).filter(Student.name != "Yamada"):
    print(student.id, student.name, student.score)

1 Suzuki 70
2 Tanaka 46
3 Suzuki 87

In [26]:
# LIKE
for student in session.query(Student).filter(Student.name.like("%ki%")):
    print(student.id, student.name, student.score)

1 Suzuki 70
3 Suzuki 87

In [28]:
# AND
for student in session.query(Student).filter(Student.score > 80, Student.name == "Suzuki"):
    print(student.id, student.name, student.score)

3 Suzuki 87

In [29]:
# AND
for student in session.query(Student).filter(Student.score > 80).filter(Student.name == "Suzuki"):
    print(student.id, student.name, student.score)

3 Suzuki 87

In [31]:
# OR
for student in session.query(Student).filter((Student.score > 80) | (Student.score < 50)):
    print(student.id, student.name, student.score)

2 Tanaka 46
3 Suzuki 87

# count data

In [32]:
count = session.query(Student).count()

In [33]:
print(count)

4

In [35]:
count = session.query(Student).filter((Student.score > 80) | (Student.score < 50)).count()
print(count)

2

# update data

In [36]:
student = session.query(Student).get(1)

In [37]:
print(student)

<Student(id='1', name='Suzuki', score='70')>

In [38]:
student.score = 30

In [39]:
session.add(student)

In [40]:
session.commit()   # update

In [41]:
result = session.query(Student)
for student in result:
    print(student.id, student.name, student.score)

1 Suzuki 30
2 Tanaka 46
3 Suzuki 87
5 Yamada 73

In [45]:
student = session.query(Student).filter_by(name = "Tanaka").one()
student.score = 95
session.add(student)
session.commit()

In [46]:
result = session.query(Student)
for student in result:
    print(student.id, student.name, student.score)

1 Suzuki 30
2 Tanaka 95
3 Suzuki 87
5 Yamada 73

# delete data

In [48]:
student = session.query(Student).filter_by(name = "Suzuki").all()

In [55]:
#print(student)
student

[<Student(id='1', name='Suzuki', score='30')>,
 <Student(id='3', name='Suzuki', score='87')>]

In [56]:
student = session.query(Student).get(1)
print(student)

<Student(id='1', name='Suzuki', score='30')>

In [57]:
session.delete(student)
session.commit()

In [58]:
result = session.query(Student)
for student in result:
    print(student.id, student.name, student.score)

2 Tanaka 95
3 Suzuki 87
5 Yamada 73

# delete all

In [59]:
session.query(Student).delete()

3

In [60]:
result = session.query(Student)
for student in result:
    print(student.id, student.name, student.score)

In [61]:
count = session.query(Student).count()

In [62]:
print(count)

0