# test: sqlite

In [1]:
import os, sys, math
import numpy as np
import sqlite3
import types

In [14]:
def checkDB(dbname):
    sql = "select * from {}".format(dbname)
    for r in c.execute(sql):
        #print(r)
        print("{} {} {}".format(r[0], r[1], r[2]))

In [3]:
db = 'database.db'

In [4]:
con = sqlite3.connect(db)   # create connection object and connect to database

In [5]:
c = con.cursor()   # create cursor object

# create table

In [6]:
create_table = """create table database (id int primary key, name char, value real)"""

In [7]:
create_table

'create table database (id int primary key, name char, value real)'

In [8]:
c.execute(create_table)

# insert data to table

In [9]:
sql = "insert into database values('1', 'aaaaa', '-5')"

In [10]:
c.execute(sql)
con.commit()   # update database

In [15]:
checkDB("database")

1 aaaaa -5.0

In [17]:
# insert data to table (2)

arr = (2, "bbbb", -10)
sql = """insert into database values{}""".format(arr)

c.execute(sql)
con.commit()

checkDB("database")

1 aaaaa -5.0
2 bbbb -10.0

In [18]:
# insert data to table (3)

arr = []
a1 = 3
a2 = "cccc"
a3 = -3
arr.append("{}".format(a1))
arr.append("{}".format(a2))
arr.append("{}".format(a3))

arr

['3', 'cccc', '-3']

In [19]:
arr = tuple(arr)
arr

('3', 'cccc', '-3')

In [20]:
sql = """insert into database values{}""".format(arr)

c.execute(sql)
con.commit()

checkDB("database")

1 aaaaa -5.0
2 bbbb -10.0
3 cccc -3.0

In [22]:
# insert data to table (4): try with existing id (primary key)

sql = "insert into database values('1', 'aaaaa', '-9')"
c.execute(sql)
con.commit()

checkDB("database")

""" I see. you get an error like this.
---------------------------------------------------------------------------
IntegrityError                            Traceback (most recent call last)
<ipython-input-21-101ade6d8d01> in <module>()
      1 sql = "insert into database values('1', 'aaaaa', '-9')"
----> 2 c.execute(sql)
      3 con.commit()
      4 
      5 checkDB("database")

IntegrityError: UNIQUE constraint failed: database.id
"""

IntegrityError: UNIQUE constraint failed: database.id

In [23]:
# insert data with new id

sql = "insert into database values('4', 'aaaaa', '-9')"
c.execute(sql)
con.commit()

checkDB("database")

1 aaaaa -5.0
2 bbbb -10.0
3 cccc -3.0
4 aaaaa -9.0

# insert multiple data at once

In [24]:
arr = [
    (5, "dddd", -9),
    (6, "eeee", -3),
    (7, "ffff", -5)]

sql = """insert into database (id, name, value) values (?,?,?)"""

c.executemany(sql,arr)
con.commit()

checkDB("database")

1 aaaaa -5.0
2 bbbb -10.0
3 cccc -3.0
4 aaaaa -9.0
5 dddd -9.0
6 eeee -3.0
7 ffff -5.0

# update table

In [28]:
# update value for id XX
sql_update = 'UPDATE database SET value=? WHERE id=?'
sql_update

'UPDATE database SET value=? WHERE id=?'

In [36]:
arr = [6, 2]    # update value for id #2
arr = tuple(arr)

In [37]:
c.execute(sql_update, arr)
con.commit()

checkDB("database")

1 aaaaa -5.0
2 bbbb 6.0
3 cccc -3.0
4 aaaaa -9.0
5 dddd -9.0
6 eeee -3.0
7 ffff -5.0

# delete table

In [44]:
checkDB("database")

1 aaaaa -5.0
2 bbbb 6.0
3 cccc -3.0
4 aaaaa -9.0
5 dddd -9.0
6 eeee -3.0
7 ffff -5.0

In [45]:
c.execute('DELETE FROM database where id==7')

In [46]:
con.commit()

In [47]:
checkDB("database")

1 aaaaa -5.0
2 bbbb 6.0
3 cccc -3.0
4 aaaaa -9.0
5 dddd -9.0
6 eeee -3.0

In [48]:
c.close()    # close cursor

In [49]:
con.close()   # close database